.techno-list {
  background-color: yellow-200;
  padding: 30px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1rem;
  padding: 1.5rem;
  text-align:justify;
  color: white;
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 15px;
  transition: color 1s ease, border-color 1s ease;
  /* max-width: 400px; */
}
