.card {
  padding: 20px;
  border: 5px solid #a3a7a8;
  margin: 10px;
}

.btn-delete {
  background-color: #af0303;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
